name: Java CI Test Ubuntu

on:
  push:
  pull_request:
  
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - additional-maven-args: >
              -Pjacoco
              -Pmutation-testing
              -DrepoToken=$COVERALLS_REPO_TOKEN
              -DpullRequest=${{ github.event.pull_request.number }}
              org.eluder.coveralls:coveralls-maven-plugin:4.3.0:report

    name: Build on ubuntu
    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 8

    - name: Cache Maven
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/*.yml') }}
        restore-keys: ${{ runner.os }}-m2-

    - name: Build with Maven
      run: xvfb-run mvn verify ${{ matrix.additional-maven-args }}
      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      working-directory: java_socketio_chatroom_aggregator